# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
.vscode/
*.iml

# Temporary files
*.log
.DS_Store